openapi: 3.0.0   # Open api version

info:
  title: GPT2-The Office
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is generate The Office script as array.
    ---
      How to use:
      * First, Choose The Office character name.
      * Second, Fill what the character will say in text. This will be base of script.
      * And then, Fill number in length. Text is created as long as "length". I recommend between 100 and 300.
      * If length is so big, generate time will be long.
    ---
    And you can use this in [demo page](https://master-gpt2-the-office-fpem123.endpoint.ainize.ai/).

    Fine tuning data reference >> [The Office (US) - Complete Dialogue/Transcript](https://www.kaggle.com/nasirkhalid24/the-office-us-complete-dialoguetranscript)

servers:
  - url: https://master-gpt2-the-office-fpem123.endpoint.ainize.ai/

paths:
  /office:
    post:
      requestBody:
        required: true
        description: |
          This request will generate The Office script.

          Request body example

              name: Michael
              text: Hello
              length: 150

        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum: [Michael, Dwight, Jin, Pam, Ryan, Andy, Meredith, Phyllis, Stanley,
                         Angela, Oscar, Kelly, Toby, Kevin, Creed, Darryl, David, Jan, Jo]
                  description: "The Office character name."
                text:
                  type: string
                  description: "The base of script."
                length:
                  type: string
                  description: "The size of text."
              required:
                - name
                - text
                - length
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"